.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        color: black;
        width: 40%;
        //height: 60%;
        border-radius: 20px;
        
        background-color:#512da8;
        
    .close{
        background-color: transparent; 
        border: none;
        outline: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
        &:before,
        &:after{
            content: ' ';
            position: absolute;
            width: 2.5px;
            height: 24px;
            background-color:#fff;
        }
        &:before{
            transform: rotate(45deg);
        }
        &:after{
            transform: rotate(-45deg);
        }
     }
      .content{
          .Titulo{
              text-align: center;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              font-weight: 300;
              color: #fff;
            
          }
          .FormProf{
              max-width: 80%;
              margin: 20px auto;
           /* display: flex;
            width: 50%;
            padding: 12px 20px;
            margin: 15px 10px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;*/
            
        }
        .FormProf form{
            max-width: 100%;
            padding: 0 20px;

        }
        .FormProfLabel{
            margin-top: 10px;
            color: #fff;
        }
        .FormProf form input{
            width: 100%;
            padding: 7px 0;
        }
        .FormProfButton{
            margin-top: 50px;
        
        }
        .FormProfButton button {
            width: 100%;
        }

      }
     
    }
    

}
